<div>
    <h1 class="cover-heading">모아보기</h1>
    <p class="lead">posts : {{ posts.length }}</p>
    <div  class="container marketing" ng-repeat="post in posts">
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-10">
                <h2 class="featurette-heading">{{ post.title }}</h2>
                <div class="btn-group" ng-repeat="info in post.infos track by $index">
                    <button type="button" class="btn btn-default">
                        <img ng-src="views/imgs/{{ info.provider_name }}.png" width="18" height="18">
                        {{ info.blog_id }}
                     </button>
                    <button type="button" class="btn btn-default" ng-repeat="reply in info.replies track by $index">
                            <span ng-click="getReplyContent(info.provider_name, info.blog_id, info.post_id)">
                                <span ng-repeat="(key, value) in reply track by $index">
                                    {{ key }} <span class="badge">{{ value }}</span>
                                </span>
                            </span>
                    </button>
                </div>

                <p class="lead" ng-repeat="info in post.infos track by $index"
                    style="font-size: 16px;
                    text-align: left;
                    margin-top: 10px">
                    <span ng-repeat="comment in info.comments track by $index">
                        {{ comment.date }}
                        <span ng-bind-html="comment.content" style="font-weight: bold">
                        {{ comment.content }}
                        </span>
                        <br>
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>

<hr class="featurette-divider">