<div class="content-title">
    <h1 class="page-header">{{title}}</h1>
</div>
<div>
    <p class="lead">histories : {{histories.length}}</p>
    <div  class="container marketing" ng-repeat="history in histories">
        <hr class="featurette-divider">
        <div class="row featurette">
            <h4 class="featurette-heading">
                [{{history.tryTime.toString()}}]&nbsp;
                <h2 class="text-muted">{{history.src.title}}</h2>
            </h4>
            <p class="lead">
                {{history.status}}  :
                <span>{{history.src.url}}</span> →
                <span>{{history.dst.url}}</span>
            </p>
        </div>
    </div>
</div>

<hr class="featurette-divider">