<div class="content-title">
    <h1 class="page-header">{{title}}</h1>
</div>
<div class="content-body">
    <div class="content-box">
        <a href="" ng-click="onClickButton(button[0]);">{{button[0]}}</a>
    </div>
    <div class="content-inner-box hero-unit" ng-repeat="group in groups track by $index">
        <img class="icon-delete" src="https://cdn0.iconfinder.com/data/icons/very-basic-android-l-lollipop-icon-pack/24/close-128.png"
             ng-show="button[0]==='Confirm'" ng-click="onClickGroup($index);"/>
        <p class="btn btn-default btn-blog" ng-repeat="site in group.group">
            <img class="icon-blog" ng-src="views/imgs/{{site.provider.providerName}}.png"/>
            &nbsp;&nbsp;{{site.provider.providerName}} : {{site.blog.blog_title}}
        </p>
    </div>
    <div class="content-box">
        <a href="" ng-click="onClickButton(button[1]);">{{button[1]}}</a>
        <a href="" class="btn-right" ng-click="onClickButton(button[2]);" ng-if="button[1]==='Register'">{{button[2]}}</a>
        <br>
        <span class="error-msg" ng-show="info!==''">{{info}}</span>
    </div>
    <div class="content-box" ng-if="button[1]==='Register'">
        <a class="btn btn-default btn-blog" ng-class="{active: selected[$index] === 'selected'}" ng-click="onClickBlog($index);" ng-repeat="site in sites track by $index">
            <img class="icon-blog" ng-src="views/imgs/{{site.provider.providerName}}.png"/>
            &nbsp;&nbsp;{{site.provider.providerName}} : {{site.blog.blog_title}}
        </a>
    </div>
</div>

<hr class="featurette-divider">