<div style="max-width: 360px; margin-left: auto; margin-right:auto">
    <h2 class="form-signin-heading">{{message}}</h2><br><br>
    <div align="left">
        <div class="button-parent" style="margin:10px; padding:10px; background-color: darkgray;" ng-repeat="group in groups">
            <a class="button {{site.provider.providerName}}-normal" ng-repeat="site in group">{{site.provider.providerName}} : {{site.blog.blog_id}}</a>
        </div>
        <div style="padding:10px;">
            <a href="" ng-click="onClickButton(button[0]);">{{button[0]}}</a>
            <a href="" style="float:right;" ng-click="onClickButton(button[1]);" ng-if="button[0]==='Close'">{{button[1]}}</a>
        </div>
        <div style="padding:10px;" ng-if="button[0]==='Close'">
            <a class="button {{site.provider.providerName}}-{{selected[$index]}}" ng-click="onClickBlog($index);" ng-repeat="site in sites">{{site.provider.providerName}} : {{site.blog.blog_id}}</a>
        </div>
    </div>
</div>