<div class="content-title">
    <h1 class="page-header">{{title | translate}}</h1>
</div>
<div class="content-body">
    <div class="content-box">
        <a class="btn btn-default btn-blog" ng-repeat="provider in user.providers">
            <img class="icon-blog" ng-src="views/imgs/{{provider.providerName}}.png"/>
            &nbsp;&nbsp;{{'LOC_'+provider.providerName | translate}} : {{provider.displayName}}
            <span ng-bind="getBlogTitle(provider)"></span>
        </a>
    </div>
    <div class="content-box" ng-if="user._id">
        <a href="/logout">{{'LOC_LOGOUT' | translate}}</a>
    </div>
    <div class="content-box">
        <a class="btn btn-default btn-blog" ng-href="/{{provider}}/authorize" ng-repeat="provider in providers">
            <img class="icon-blog" ng-src="views/imgs/{{provider}}.png"/>
            &nbsp;&nbsp;{{'LOC_'+provider | translate}}
        </a>
    </div>
</div>

<hr class="featurette-divider">

<!-- google analytics -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-62448872-1', 'auto');
    ga('require','displayfeatures');
    ga('require','linkid','linkid.js');
    ga('send', 'pageview');
</script>

