<!--<div class="inner cover">-->
<!--<form class="form-signin" role="form">-->
<!--<h2 class="form-signin-heading">{{ message }}</h2>-->
<!--<input type="email" class="form-control" placeholder="Email address" required autofocus>-->
<!--<input type="password" class="form-control" placeholder="Password" required>-->
<!--<label class="checkbox">-->
<!--<input type="checkbox" value="remember-me"><p align="left">Remember me</p>-->
<!--</label>-->
<!--<button class="btn btn-sm btn-default" type="submit">Sign in</button>-->
<!--</form>-->
<!--</div>-->

<div style="max-width: 360px; margin-left: auto; margin-right:auto">
    <h2 class="form-signin-heading">{{ message }}</h2>
    <div align="left">
        <div style="padding:10px;">
            <a class="button {{ provider.providerName }}-normal" ng-repeat="provider in user.providers">{{ provider.providerName }} : {{provider.displayName}}</a>
        </div>
        <div ng-if="user.id" style="padding:10px;">
            <a href="/logout">Logout</a>
        </div>
        <div style="padding:10px;">
            <a class="button {{ provider }}-normal" ng-href="/{{ provider }}/authorize" ng-repeat="provider in providers">Sign in with {{ provider }}</a>
        </div>
    </div>
</div>