<div class="content-title">
    <h1 class="page-header">{{title}}</h1>
</div>
<div class="content-body">
    <div class="content-box">
        <a class="btn btn-default btn-blog" ng-repeat="provider in user.providers">
            <img class="icon-blog" ng-src="views/imgs/{{provider.providerName}}.png"/>
            &nbsp;&nbsp;{{provider.providerName}} : {{provider.displayName}}
        </a>
    </div>
    <div class="content-box" ng-if="user._id">
        <a href="/logout">Logout</a>
    </div>
    <div class="content-box">
        <a class="btn btn-default btn-blog" ng-href="/{{provider}}/authorize" ng-repeat="provider in providers">
            <img class="icon-blog" ng-src="views/imgs/{{provider}}.png"/>
            &nbsp;&nbsp;{{provider}}
        </a>
    </div>
</div>

<hr class="featurette-divider">