/*
 * Globals
 */

body {
    min-height: 2000px;
    padding-top: 70px;
}
@media (min-width: 768px) {
    .collapse.dis {
        display: block;
    }
}
.content-title {
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.content-body {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.content-box {
    text-align: center;
}
.group-box {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    color: #333333;
    border: #cccccc solid 1px;
    background-color: #ffffff;
}
.group-box hr {
    margin-top: 10px;
    margin-bottom: 10px;
}
.group-box table {
    min-width: 300px;
    max-width: 300px;
    text-align: center;
    background-color: #ffffff;
}
.group-box .pager {
    margin: 10px 0 0 0;
}
.group-box .pager li>a:hover {
    border-color: #adadad;
    background-color: #ffeeee;
    cursor:pointer;
}
.group-box:hover, .group-box.selected {
    border-color: #adadad;
    background-color: #ebebeb;
}
.group-box:hover {
    cursor:pointer;
}
.group-box.selected {
    cursor:Default;
}
.group-box.selected hr {
    border-color: #adadad;
}
.group-box.selected .btn-blog:hover {
    border-color: #adadad;
    background-color: #ffeeee;
}
.group-box:hover .btn-default, .group-box.selected .btn-default {
    border-color: #cccccc;
    background-color: #ffffff;
}
.btn-blog {
    min-width: 300px;
    max-width: 300px;
    margin-bottom: 5px;
    display: block;
    text-align: left;
    vertical-align: middle;
}
.btn-blog:last-child {
    margin-bottom: 0px;
}
.btn-right {
    float: right;
}
.icon-blog {
    width: 30px;
    height: 30px;
}
.icon-blog-small {
    width: 15px;
    height: 15px;
}
.icon-minus, .icon-plus {
    width: 16px;
    height: 16px;
    float: right;
    position: relative;
    top: 8px;
}
.error-msg {
    color: #ff0000;
}
.sync-true {
    color: red;
}
.sync-false {
    color: blue;
}
.sync-none {
    background-color: lightgray;
}
a {
    color: #df8523;
}